.slider {
	width: calc(100% - 160px);
	margin: 0 auto;
	margin-top: 10px;


	&__item {
		transform: scale(0.8);
		transition: 0.5s;
	}

	&__swiper {
		overflow: unset;
	}

	&__line {
		width: 13px;
		height: 324px;
		background: #BF4F4E;
		border-radius: 9px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		&--left {
			left: 31%;
		}

		&--right{
			right: 31%;
		}
	}
}

.swiper-wrapper {
	align-items: center;
}

.swiper-slide-next {
	transform: scale(1);
	transition: 0.5s;
}