.logo-block {
	display: flex;
	grid-column-gap: 5px;
	align-items: center;

	&__logo {
		user-select: none;
	}

	&__title {
		font-weight: 400;
		font-size: 32px;
		line-height: 42px;
		font-family: 'Mali', cursive;
		color: #E97A80;

		& span {
			font-family: 'Mali', cursive;
			color: #0D3F7C;
		}
	}
}